.tool-card-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .tool-card-header .name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.tool-card-body {
    height: 180px;
}

.tool-card-footer {
    display: flex;
}

    .tool-card-footer .desc {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
