.head {
    background-color: orange;
    display: inline-flex;
    align-items:end;
    width:100%;
}

.head-logo {
    margin:10px;
    height : 100px;
    width : 100px;
}

.head-tag {
    color: red;
    font-size: larger;
    margin-bottom: 10px;
}

.head-tag-detail {
    color:white;
}
